body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;

}

a {
  text-decoration: none;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  background: #ffffff;
}

.header__site-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation__item {
  width: 239px;
  height: 56px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-navigation__item:nth-child(2) {
  margin-right: auto;
}

.site-navigation__item a {
  color: #000000;
  font-weight: bold;
  font-size: inherit;
}

.site-navigation__item:hover a {
  color: #81b3d2;
}

.site-navigation__item:active a {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation__item.active a {
  color: #766357;
  pointer-events: none;
}

.main-header {
  position: relative;
  min-height: 508px;
  background-color: #88bad8;
  background-image: url('../img/shape.png'),url('../img/background-photo.jpg');
  background-size: 1200px 57px, 1200px 564px;
  background-position: center bottom, center -56px;
  background-repeat: no-repeat;
}

.main-header img {
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: -229px;
}

.advantages {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 256px;
  padding-top: 50px;
  padding-bottom: 64px;
}

.advantages__number {
  display: block;
}

.advantages:nth-child(n) {
  text-align: center;
}

.advantages-1,
.advantages-2 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-1 {
  padding-right: 800px;
}

.advantages-1::after {
  content: url(../img/advantages-1.jpg);
  position: absolute;
  right:0;
  top:0;
  width: 800px;
  height: 256px;
}

.advantages-2 {
  padding-left: 800px;
}

.advantages-2::before {
  position: absolute;
  content: url(../img/advantages-2.jpg);
  left:0;
  top:0;
  width: 800px;
  height: 256px;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
}

.advantages-container .advantages {
  width: 33%;
}

.advantages__number::before,
.advantages__number::after {
  content: '—';
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  width: 33.3%;
  padding-top: 164px;
  padding-bottom: 85px;
  text-align: center;
}

.features__title--1::before {
  position: absolute;
  content: url(../img/features-1.svg);
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
}

.features__title--2::before {
  position: absolute;
  content: url(../img/features-2.svg);
  top: 61px;
  left: 163px;
  width: 74px;
  height: 70px;
}

.features__title--3::before {
  position: absolute;
  content: url(../img/features-3.svg);
  top: 56px;
  right: 168px;
  width: 64px;
  height: 76px;
}

.main-content {
  padding-top: 61px;
  padding-bottom: 56px;
}

.main-content:nth-child(n) {
  text-align: center;
}

.main-content__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  line-height: 26px;
}

.main-content span {
  padding: 0;
  margin: 0;
}

.offer {
  position: relative;
  padding-top: 57px;
}

.offer:nth-child(n) {
  text-align: center;
}

.offer__call {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.offer__content {
  display: block;
  line-height: 24px;
  margin-bottom: 52px;
}

.btn {
  border: none;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: #604e43;;
  color: #ffffff;
}

.btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button--more {
  background-color: #81b3d2;
  color: #ffffff;

}

.button--more:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button--more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn__conditions-search {
  margin: 0;
  padding: 33px 139px 32px 140px;
  font-weight: bold;
  font-size: 21px;
}

.modal-map {
  padding: 0;
  margin: 0;
}
/*Форма поиска жилья в index*/
.search-hotel-form {
  position: absolute;
  width: 568px;
  height: 395px;
  padding: 55px;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  top: 291px;
  left: 50%;
  margin-left: -284px;
}

.search-hotel-form label,
.search-hotel-form input {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.search-hotel-form input {
  height: 38px;
  padding-left: 13px;
  background-color: #f2f2f2;
  border: none;
}

.form-submit__btn {
  background-color: #81b3d2;
  padding: 17px 197px 22px 196px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.form-submit__btn:hover {
  background-color: #669ec0;
}

.form-submit__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-increase,
.btn-reduce {
  position: relative;
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  border: none;
}
/*
.btn-increase::before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #f2f2f2;
  width: 12px;
}*/

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer--index {
  margin-top: -120px;
}

.footer__item {
  padding: 0;
  margin: 0;
  width: 33.3%;
}

.footer__item:first-child {
  padding: 0;
  margin: 0;
  padding-top: 51px;
  padding-left: 132px;
  line-height: 1;
}

.footer__item:last-child {
  padding-top: 54px;
  padding-left: 102px;
}

.hashtag-sedona {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
}

.footer__social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social__item {
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
}

.footer__item--copyright {
  position: relative;
  background-color: #ffffff;
  opacity: 0.9;
}
.footer__item--copyright a {
  color: #000000;
}

.footer__item--copyright a::after {
  position: absolute;
  content: url(../img/logo-htmlacademy.svg);
  width: 115px;
  height: 41px;
}

.footer__item--copyright a:hover::after {
  content: url(../img/logo-htmlacademy-hover.svg);
}

.footer__item--copyright a:active::after {
  content: url(../img/logo-htmlacademy-active.svg);
}

/*Catalog*/
.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 31px 72px;
  margin: 0;
  background: #81b3d2 url(../img/filter-background.jpg) no-repeat ;
  background-position: center -294px;
  min-height: 217px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
}

.filter legend {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__option {
  color: #ffffff;
  text-align: left;
}

.filter-form-container {
  margin-left: auto;
}

.filter-price input {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.filter-submit {
  padding: 11px 33px 11px 35px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-submit:hover,
.filter-submit:active {
  color: #000000;
  background-color: #ffffff;
}

.filter__infrastructure,
.filter__accomodation,
.filter-price {
  border: none;
}

.sort-result {
  display: flex;
  flex-direction: row;
}

.sort-result__text {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.sort-result__title {
  display: inline-block;
  color: #000000;
  line-height: 18px;
  font-size: 12px;
}
.sort__list {
  display: flex;
  flex-direction: row;
  margin: inherit;
  padding: inherit;
}

.sort__direction {
  display: flex;
  flex-direction: row;
  margin: inherit;
  padding: inherit;
}

.sort__list,
.sort__direction {
  list-style: none;
}

.sort-point__item a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-point__item a:hover {
  color: #81b3d2;
}

.sort-point__item a:active {
  color: #000000;
  border-bottom: none;
}

.sort-point__item .current {
  color: #81b3d2;
  border-bottom:none;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog__item {
  display: flex;
  flex-direction: row;
}

.button--more {
  font-weight: bold;
  padding: 8px 17px 7px 17px;
}

.button--book {
  padding: 8px 16px 7px 17px;
}

.catalog__item-name a {
  color: #000000;
}

.catalog__item-name a:hover {
  color: #81b3d2;
}

.catalog__item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__features .features-type {
  color: #333333;
}

.catalog__rating .catalog__point {
  padding: 5px 13px 6px 16px;
  line-height: 100%;
  background-color: #f2f2f2;
  color: #666666;
}
