body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2, h3 {
  font-size: 21px;
  font-weight: bold;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  background: #ffffff;
}

.header__site-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin: 0 72px;
  padding: 0;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation__item {
  width: 240px;
  list-style: none;
  margin: 0;
  padding: 18px 0 17px;

}

.site-navigation__item:nth-child(2) {
  margin-right: auto;
}

.site-navigation__item:nth-child(1),
.site-navigation__item:nth-child(2) {
  text-align: left;
}

.site-navigation__item:nth-child(3),
.site-navigation__item:nth-child(4) {
  text-align: right;
}

.site-navigation__item a {
  color: #000000;
  font-weight: bold;
  font-size: inherit;
}

.site-navigation__item:hover a {
  color: #81b3d2;
}

.site-navigation__item:active a {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation__item.active a {
  color: #766357;
  pointer-events: none;
}

.main-header {
  position: relative;
  min-height: 508px;
  background-color: #88bad8;
  background-image: url('../img/shape.png'),url('../img/background-photo.jpg');
  background-size: 1200px 57px, 1200px 564px;
  background-position: center bottom, center -56px;
  background-repeat: no-repeat;
}

.main-header img {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -229px;
}

.properties-container {
  display: flex;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  min-height: 256px;
  padding-top: 33px;
  padding-bottom: 35px;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__number {
  display: block;
  margin-bottom: 20px;
}

.advantages:nth-child(n) {
  text-align: center;
}

.advantages-1,
.advantages-2 {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-1 {
  padding-right: 800px;
}

.advantages-1::after {
  content: url(../img/advantages-1.jpg);
  position: absolute;
  right:0;
  top:0;
  width: 800px;
  height: 256px;
}

.advantages-2 {
  padding-left: 800px;
}

.advantages-2::before {
  position: absolute;
  content: url(../img/advantages-2.jpg);
  left:0;
  top:0;
  width: 800px;
  height: 256px;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
}

.advantages-container .advantages {
  width: 33%;
}

.advantages__number::before,
.advantages__number::after {
  content: '—';
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  width: 33.3%;
  padding-top: 145px;
  padding-bottom: 85px;
  text-align: center;
}

.features__title--1::before {
  position: absolute;
  content: url(../img/features-1.svg);
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
}

.features__title--2::before {
  position: absolute;
  content: url(../img/features-2.svg);
  top: 61px;
  left: 163px;
  width: 74px;
  height: 70px;
}

.features__title--3::before {
  position: absolute;
  content: url(../img/features-3.svg);
  top: 56px;
  right: 168px;
  width: 64px;
  height: 76px;
}

.features__title {
  margin-bottom: 25px;
}

.main-content {
  padding-top: 61px;
  padding-bottom: 50px;
}

.main-content:nth-child(n) {
  text-align: center;
}

.main-content__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 26px;
}

.main-content span {
  padding: 0;
  margin: 0;
  line-height: 26px;
}

.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 17px;
}

.offer:nth-child(n) {
  text-align: center;
}

.offer__call {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 22px;
}

.offer__content {
  line-height: 24px;
  margin-bottom: 48px;
}

.btn {
  border: none;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: #604e43;;
  color: #ffffff;
}

.btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button--more {
  background-color: #81b3d2;
  color: #ffffff;
}

.button--more:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button--more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn__conditions-search {
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 32px;
  width: 568px;
  font-weight: bold;
  font-size: 21px;
}

.modal-map {
  padding: 0;
  margin: 0;
}

.modal-map__image {
  padding: inherit;
  margin: inherit;
}
/*Форма поиска жилья в index*/
.search-hotel-form {
  position: absolute;
  width: 568px;
  height: 395px;
  padding: 55px;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  top: 291px;
  left: 50%;
  margin-left: -284px;
}

.search-hotel-form label,
.search-hotel-form input {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.search-hotel-form input {
  height: 38px;
  padding-left: 13px;
  background-color: #f2f2f2;
  border: none;
}

.form-submit__btn {
  background-color: #81b3d2;
  padding: 17px 197px 22px 196px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.form-submit__btn:hover {
  background-color: #669ec0;
}

.form-submit__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-increase,
.btn-reduce {
  position: relative;
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  border: none;
}
/*
.btn-increase::before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #f2f2f2;
  width: 12px;
}*/

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 36px 0;
}

.footer--index {
  margin-top: -120px;
}

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 33.33%
}

.footer__item:first-child {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
}

.footer__item:nth-child(2) {
}

.footer__item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.footer__social {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
}

.copyright__image {
  padding: 0;
  margin: 0;
}
.footer__item--copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.footer__item--copyright .copyright__image {
  margin-left: 8px;
  width: 115px;
  height: 41px;
  background: url(../img/logo-htmlacademy.svg) no-repeat;
}

.footer__item--copyright .copyright__image:hover {
  background: url(../img/logo-htmlacademy-hover.svg) no-repeat;
}

.footer__item--copyright .copyright__image:active {
  background: url(../img/logo-htmlacademy-active.svg) no-repeat;
}

/*Catalog-------------------------------------------------------------------------------------------------*/
.filter {
  width: 100%;
  background: #81b3d2 url(../img/filter-background.jpg) no-repeat ;
  background-position: center -294px;
  margin: 0;
}

.form-filter {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  padding: 26px 72px;
}

.filter__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.option-label {
  position: relative;
}

.filters-checkbox + .option-label::before {
  position: absolute;
  content: url(../img/checkbox-off.svg);
  top: -2px;
  left: -40px;
}

.filters-checkbox:checked + .option-label::before {
  content: url(../img/checkbox-on.svg);
}

.filters-checkbox:disabled + .option-label::before {
  content: url(../img/checkbox-off-disabled.svg);
}

.filters-checkbox:checked:disabled + .option-label::before {
  content: url(../img/checkbox-on-disabled.svg);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 25px;
}

.filter__price .price__title {
  margin-bottom: 10px;
}

.filter .filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__option {
  color: #ffffff;
  text-align: left;
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter__option:last-child {
  margin-bottom: 5px;
}

.filter__infrastructure,
.filter__accomodation {
  width: 254px;
}

.filter-container {
  margin-left: auto;
  margin-right: 0;
}

.price__option {
  font-size: 0;
}
.filter__price {
  width: 318px;
}

.price__controls {
  height: 32px;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 22px;
}

.price__controls::after {
  content: '';
  position: absolute;
  right: 50%;
  top: 5px;
  height: 22px;
  border-left: 2px solid #ffffff;
}

.price__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price__option {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.price__controls label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}

.price__controls input {
  width: 70px;
  padding-left: 5px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.filter__submit {
  position: absolute;
  padding: 8px 33px 8px 35px;
  bottom: 33px;
  right: 168px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
}

.filter__submit:hover,
.filter__submit:active {
  color: #000000;
  background-color: #ffffff;
}
/*Ползунок----------------------------------*/

.price__range {
  position: relative;
}

.price__scale {
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
}

.price__bar {
  width: 82%;
  background-color: #ffffff;
  height: 2px;
}

.price__pin {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price__pin:hover {
  border: 9px solid #ffffff;
}

.price__pin.pin-left {
  left: 0;
}

.price__pin.pin-right {
  left: 80%;
}


/*----------------------------------------------*/
.sort-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 72px 28px;
}

.sort-result__length {
  width: 160px;
  padding-right: 4px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.sort-result__title {
  width: 115px;
  color: #000000;
  line-height: 18px;
  font-size: 12px;
}
.sort-type__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.sort__direction {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  position: relative;
}

.sort-type__list,
.sort__direction {
  list-style: none;
}

.sort-type__item:not(:last-child) {
  margin-right: 33px;
}

.sort-type__item a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type__item a:hover {
  color: #81b3d2;
}

.sort-type__item a:active {
  color: #000000;
  border-bottom: none;
}

.sort-type__item .current {
  color: #81b3d2;
  border-bottom:none;
}
.sort__up .btn-up::before { /*треуг вверх*/
  content: '';
  top: -10px;
  right: 23px;
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 11px solid #cacaca;
}

.sort__up .btn-up:hover::before {
  border-bottom: 11px solid #000000;
}

.sort__up .btn-up:active::before,
.current-direction .btn-up::before{
  border-bottom: 11px solid #81b3d2;
}

.sort__down .btn-down::before { /*треуг вниз */
  content: '';
  top: -4px;
  right: 0;
  position: absolute;
  border: 5px solid transparent;
  border-top: 11px solid #cacaca;
}

.sort__down .btn-down:hover::before {
  border-top: 11px solid #000000;
}

.sort__down .btn-down:active::before,
.current-direction .btn-down::before {
  border-top: 11px solid #81b3d2;
}


/*-----------------------------------------------------*/
.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog__item {
  display: flex;
  flex-direction: row;
  padding: 32px 72px 28px;
  border-top: 1px solid #e5e5e5;
  min-height: 90px;
}


.catalog__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog__image {
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.catalog__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.catalog__item-name h3 {
  margin: 0;
}

.catalog__item-name {
  margin-top: -4px;
  margin-bottom: 10px;
}

.catalog__features {
  display: flex;
  flex-direction: row;
}

.catalog__button {
  margin-top: auto;
}

.button--more {
  display: inline-block;
  font-weight: bold;
  padding: 3px 17px 3px 17px;
  margin-right: 2px;
}

.button--book {
  display: inline-block;
  padding: 3px 17px 3px 17px;
}

.catalog__item-name a {
  color: #000000;
}

.catalog__item-name a:hover {
  color: #81b3d2;
}

.catalog__item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__features .features-type {
  min-width: 115px;
}

.catalog__rating .catalog__point {
  padding: 5px 13px 6px 16px;
  line-height: 100%;
  background-color: #f2f2f2;
  color: #666666;
}

.catalog__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.catalog__stars {
  margin-left: auto;
  margin-right: 0;
  width: 18px;
  height: 17px;
  background-image: url('../img/star.svg');
  background-repeat: space;
}

.catalog-stars-2 {
  width: 42px;
}

.catalog-stars-3 {
  width: 66px;
}

.catalog-stars-4 {
  width: 89px;
}



